<footer class="page-footer font-small bg-footer pt-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Siga-me nas redes socias</h4>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <!-- <div class="row"> -->
                <ul class="row w-50 social-network">
                    <li class="col-sm">
                        <a href="https://www.facebook.com/jessica.morais.7712" target="_blank" class="icoFacebook">
                            <i class="fa fa-facebook" area-hidden='true'></i>
                        </a>
                    </li>
                    <li class="col-sm">
                        <a href="https://www.instagram.com/jm.jeska/" target="_blank" class="icoInstagram">
                        <i class="fa fa-instagram" area-hidden='true'></i>
                        </a>
                    </li>
                    <li class="col-sm">
                        <a href="https://www.linkedin.com/in/jessicamoraessantos/" target="_blank" class="icoLinkedin">
                            <i class="fa fa-linkedin" area-hidden='true'></i>
                        </a>
                    </li>
                </ul>
            <!-- </div> -->
        </div>
        <div class="footer-copyright bg-dark text-center py-2">
            <span class="text-light">@2022 Copyright</span>
            <a href="https://digitalhouse.com.br" class="text-light pr-1" target="_blank">Jessica Moraes</a>
        </div>
    </div>
</footer>