.bg-footer {
    background-color: #604Ac7;
}

ul.social-network {
    list-style: none;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0;
    padding: 5%;
}

.fa {
    font-size: 35pt;
    color: white;
    padding: 10%;
}

.fa-facebook:hover {
    color: blue;
}

.fa-instagram:hover {
    color: rgb(122, 9, 126);
}

.fa-linkedin:hover {
    color: rgb(33, 71, 236);
}