<nav class="navbar navbar-expand-lg bg-dark">
    <!-- <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto d-flex align-items-center">
            <li class="nav-item" active>
                <!-- <a class="nav-link active" aria-current="page" href="#">Blog Pessoal</a> -->
                <img src='https://avatars.githubusercontent.com/u/86472385?v=4' alt='Foto do usuário' width="50px"
                    height="50px" class="img-fluid rounded-circle">
            </li>
            <li class="nav-item">
                <!-- <a class="nav-link" href="#">Postagens</a> -->
                <p class="m-0 font-weight-bold text-white fs-16">Nome do usuário</p>
            </li>
            <li class="nav-item pl-3">
                <a href=""><!--Referência para o ícone-->
                    <p class="text-white fs-16 m-0">
                        <i class="fa fa-pencil-square-o text-white fs-16" aria-hidden="true"></i>
                    </p>
                </a>
            </li>
            <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> -->
            <!-- <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li> -->
        </ul>
        <ul class="navbar-nav mr-auto d-flex align-items-center">
            <li class="nav-item pl-3">
                <a href='' class="m-0 font-weight-bold text-white fs-16">Sair
                    <i class='fa fa-sign-out aria' aria-hidden="true"></i>
                </a>
            </li>
        </ul>
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
    </div>
    <!-- </div> -->
</nav>

<!-- NAVBAR PROJETO-->
<div class="bg-light m-0 container-fluid fixed-top">
    <nav class="navbar navbar-expand-lg d-flex px-5 container-lg" id="navbar">

      <div class="container flex-row py-3 d-flex justify-content-between">
        <h1>
          <a href="#" class="navbar-brand align-items-center">
            <img src="/src/assets/icons/asterisk.svg" alt="logoDoNossoSuperSite" />
            <span class="mx-2">NossaMarca</span>
          </a>
        </h1>
      </div>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-items"
        aria-controls="navbar-items" aria-expanded="false" aria-label="Toggle navigation">
        <!--
      <span class="navbar-toggler-icon"></span>
      -->
        <i class="bi bi-list"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbar-items">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center fw-bold">

          <!--Combos-->
          <li class="nav-item px-2">
            <a class="nav-link .primary-color" aria-content="page" href="/combos.html">Combos</a>
          </li>

          <!--Produtos-->
          <li class="nav-item dropdown px-2">
            <a class="nav-link .primary-color dropdown-toggle" aria-content="page" href="#" id="navbarDropdown"
              role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Produtos
            </a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item .primary-color" href="#">Vinhos</a>
              </li>
              <li>
                <a class="dropdown-item .primary-color" href="#">Queijos</a>
              </li>
              <li>
                <a class="dropdown-item .primary-color" href="#">Pães artesanais</a>
              </li>
            </ul>
          </li>

          <!--DESKTOP-->
          <!--Search icon-->
          <div class="d-flex pb-1">
            <li class="nav-item px-2">
              <img src="/src/assets/icons/search.svg" alt="icone pesquisa" />
            </li>

            <!--User icon-->
            <li class="nav-item px-2">
              <img src="/src/assets/icons/person.svg" alt="Ícone usuário" />
            </li>

            <!--Shop Cart icon-->
            <li class="nav-item px-2">
              <img src="/src/assets/icons/bag.svg" alt="Ícone sacola de compras" />
            </li>
          </div>
        </ul>
      </div>
    </nav>
  </div>